{{template "_header"}}
<div class="post">
  <p>
    Drag the button below to your favorites/bookmarks bar. It is a bookmarklet which redirects to the daemon and stores the current page to your reading list.
  </p>
  <p>
    <a href="javascript:location.href='{{ .serverLocation }}/add?url='+encodeURIComponent(window.location.href)">
      <button type="button">go-read</button>
    </a>
  </p>
  <p>
    Next step is to add the <a href="/rss">/rss</a> endpoint to your RSS aggregator.
  </p>
</div>
{{template "_footer"}}
