<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en-us">
<head>
  <link href="http://gmpg.org/xfn/11" rel="profile">
  <meta http-equiv="content-type" content="text/html; charset=utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">
  <title>go-read</title>
  <link rel="stylesheet" href="css/poole.css">
  <link rel="stylesheet" href="css/syntax.css">
  <link rel="stylesheet" href="css/hyde.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=PT+Sans:400,400italic,700|Abril+Fatface">
  <link rel="apple-touch-icon-precomposed" sizes="144x144" href="/apple-touch-icon-144-precomposed.png">
  <link rel="shortcut icon" href="/favicon.ico">
  <link href="/rss" rel="alternate" type="application/rss+xml" title="go-read RSS feed" />
</head>

<body>

<div class="sidebar">
  <div class="container sidebar-sticky">
    <div class="sidebar-about">
      <h1>go-read</h1>
      <p class="lead">
      a personal readinglist
      </p>
    </div>
    <ul class="sidebar-nav">
      <li><a href="/">Home</a> </li>
      <li><a href="/rss">RSS</a> </li>
      <li><a href="/stats">Stats</a> </li>
    </ul>
  </div>
</div>

<div class="content container">
  <div class="posts">
    <div class="post">
    <p>
	  Drag the button below to your favorites/bookmarks bar. It is a bookmarklet which redirects to the daemon and stores the current page to your reading list.
	</p>
    <p>
      <a href="javascript:location.href='{{ .serverLocation }}/add?url='+encodeURIComponent(window.location.href)">
        <button type="button">go-read</button>
      </a>
    </p>
    <p>
      Next step is to add the <a href="/rss">/rss</a> endpoint to your RSS aggregator.
    </p>
    </div>
  </div>
</div>

</body>
</html>

